doctype html
html
    head
        // Interpolation of title
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body
        main.app
            h1.app__heading TypeScript Express Application